source/trunk/.vs/Odoo.XmlRpcAdapter/v15/Server/sqlite3/storage.ide-shm
source/trunk/.vs/Odoo.XmlRpcAdapter/v15/Server/sqlite3/storage.ide-wal
source/trunk/Odoo.XmlRpcAdapter.Sample/
source/trunk/Odoo.XmlRpcAdapter/bin/
source/trunk/Odoo.XmlRpcAdapter/obj/
source/trunk/.vs/Odoo.XmlRpcAdapter.NET/v15/.suo
source/trunk/Sample/bin/
source/trunk/Sample/obj/
source/trunk/.vs/Odoo.XmlRpcAdapter.NET/v15/.suo
