source/trunk/.vs/Odoo.XmlRpcAdapter/v15/Server/sqlite3/storage.ide-shm
source/trunk/.vs/Odoo.XmlRpcAdapter/v15/Server/sqlite3/storage.ide-wal
source/trunk/Odoo.XmlRpcAdapter.Sample/
source/trunk/Odoo.XmlRpcAdapter/bin/
source/trunk/Odoo.XmlRpcAdapter/obj/